
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/Tavernlight-Technical-Responses/v17/.wsuo
.vs/Tavernlight-Technical-Responses/v17/Browse.VC.db
.vs/Tavernlight-Technical-Responses/v17/Browse.VC.db-shm
.vs/Tavernlight-Technical-Responses/v17/Browse.VC.db-wal
.vs/Tavernlight-Technical-Responses/v17/Browse.VC.opendb
.vs/Tavernlight-Technical-Responses/v17/DocumentLayout.json
*.vsidx
