
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/Tavernlight-Technical-Responses/FileContentIndex/8413647a-13a0-44ac-a164-80af6cba0456.vsidx
.vs/Tavernlight-Technical-Responses/FileContentIndex/b69cdb2f-ddc0-489d-879f-84d51b01dad3.vsidx
.vs/Tavernlight-Technical-Responses/FileContentIndex/cb77eede-a562-4cb0-85af-4f7a1decd83f.vsidx
.vs/Tavernlight-Technical-Responses/FileContentIndex/d1be96a8-13f4-4b1d-90be-f0996898342f.vsidx
.vs/Tavernlight-Technical-Responses/FileContentIndex/f90bf94e-cda6-4c8c-b89e-a581214a5ca2.vsidx
.vs/Tavernlight-Technical-Responses/v17/.wsuo
.vs/Tavernlight-Technical-Responses/v17/Browse.VC.db
.vs/Tavernlight-Technical-Responses/v17/Browse.VC.db-shm
.vs/Tavernlight-Technical-Responses/v17/Browse.VC.db-wal
.vs/Tavernlight-Technical-Responses/v17/Browse.VC.opendb
.vs/Tavernlight-Technical-Responses/v17/DocumentLayout.json
.vs/Tavernlight-Technical-Responses/FileContentIndex/147a887a-1572-4187-9085-db3fa3d7ca9c.vsidx
.vs/Tavernlight-Technical-Responses/FileContentIndex/4cfa293c-f9dd-45e6-8ae0-2d1da197da3c.vsidx
.vs/Tavernlight-Technical-Responses/FileContentIndex/949e5bb7-ed5e-41d6-8857-1161f261b47e.vsidx
